.search {
  padding: 20px  36px ;
  background: #271795;
  border-radius: 40px;
  box-sizing: border-box;
}

.search-icon {
  height: 32px;
  width: 32px;
}

.search-inner {
  margin: 0 20px;
  font-size: 24px;
  color: #FFFFFF;
  flex: 1;
}

.clear-icon {
  height: 35px;
  width: 35px;
}